@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

:root{
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);

}

html{
    background: var(--yellow);
    font-family: 'Figtree',sans-serif;
    height: 100%;


}

body{
    padding: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.card{
    background: var(--white);
    padding:24px;
    border-radius: 20px;
    border:2px solid black;
    
    box-shadow: 10px 10px  rgb(0, 0, 0);
}

.preview{
    width:100%;
    height: auto;
    border-radius: 10px;
    padding-bottom: 36px;
}

.tag{
    background-color: var(--yellow);
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-weight: 800;
}
.publish-info{
    padding-top: 20px;
    font-weight: 600;
}

.title{
    font-size: 20px;
    font-weight: 800;
}
.title:hover{
    color:var(--yellow)
}

.description{
    font-weight: 600;
}

.author-info{
    display:flex;
    flex-direction: row;
    justify-content: start;
    width:100%
}

.author-pic{
    width:7%;
    width:18%;

}
.author-name{
    padding:0 10px;
    font-weight: 800;;
}
.attribution{
    padding-top: 30px;
}


@media screen and (min-width:1000px){
    body,html{
        height: auto;
        max-height: 100%;

    }
  
    .card{
        max-width:300px;
    }

}