@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

:root{
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
    font-family: Figtree,sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    background-color:var(--yellow);

}

.card{
    border:1px solid black;
    max-width:350px;
    margin:  auto;
    padding: 20px 10px ;
    background-color: var(--white);
    border-radius: 20px;

}
.content{
    display: block;
    margin: 0 auto;
    /* border:1px solid black; */
    max-width: 336px;
    

}
img.preview{
    border-radius: 10px;
    width: 100%;
    

}
.tag{
    background-color: var(--yellow);
    padding: 5px 10px;
    font-weight: 800;
}
.publish-info{
    font-weight: 100;
}
.title{
    font-weight: 800;
}
.author-info{
    display: flex;
    gap:10px;
    max-height: 35px;

}
.author-info p{
    height: 100%;
    margin: auto 0;
}

.author-pic{
    display: flex;
    width: 10%;
    height: auto;
}